body{
    margin: 0; /* remove a margem padrão do navegador */
    display: flex; /* ativa o Flexbox */
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente */
    height: 100vh; /* faz o body ocupar toda a altura da tela */
}

img{
    max-width: 100%; /* impede a imagem de ultrapassar a tela */
}